<div class="container-main">
      <h1 class="display-4" align="center">Lista preiscritti</h1>
      <p class="lead" align="center">cliccarne uno per modificarne i dati</p>
      <ul class="utenti">
          <!--Uso ngfor per scorrere il vettore  di utenti & gli aggiungo il metodo click che punta alla funzione dell'utente selezionato-->
            <li *ngFor="let utente of utenti">
              <a routerLink="/detail/{{utente.id}}">
                <span class="badge">{{utente.id}}</span> <span id="span-email">{{utente.email}}</span> <span id="span-privacy">{{utente.privacy}}</span>
              </a>
            </li>
          </ul>
    </div>




















































































